html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgba(34, 34, 34, 0.95);
    font-size: 1.6rem;
    color: #F2F2F2;

}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #222;
    height: 5rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

#containerCard {
    display: flex;
    flex-flow: row wrap;
    margin-top: 5%;
    padding: 2rem;
    width: 40%;
    height: 80rem;
    background: #222;
    border-radius: 12px;
}

.card {
    width: 25%;
    height: 20rem;
    border: white 1px solid;
    border-radius: 6px;
}

.size {
    width: 100%;
    height: 20rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#scoreBoard {
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
}
#userScore {
    width: 100%;
    text-align: center;
}

#reStart {
    width: 55%;
    background: rgba(34, 34, 34, 0.53);
    color: white;
    border-radius: 12px;
    padding: 1rem;
}







